#bag{
  background-size: 80%;
  background: url(/img/bag.png) center no-repeat;
  height: 500px;
  margin: 0 auto;
  width: 200px;
}

#bag.burst{
    background-image: url(/img/bag-burst.png);
}

#bag-health{
  border: 2px solid #000;
  margin: 0 auto 20px auto;
  width: 200px;
}

#bag-health div{
  background: crimson;
  height: 20px;
}

#controls{
  margin: 0 auto;
  width: 120px;
}
